.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.photo{
    width: 600px;
}

.metadataPanel{
    width: 600px;
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
}

metadata{
    margin: 10px 0;
}

.metadataTitle{
    font-family: 'bold';
    margin-right: 10px;
}

.metadataValue{
    font-family: 'regular';
}

.backButton{
    background-color: #c5eff7;
    font-family: 'bold';
    font-size: 100%;
    text-align: center;
    padding: 10px 0;
    width: 200px;
    margin-top: 30px;
    text-decoration: none;
    color: #000;
    border:none;
    border-radius: 5px;
}